
.container1 {
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    }


.p {
width: 1000px;
margin: 10px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.question1 {
    float: center;
    position: absolute;
    left: 1450px;
    top: 200px;
    z-index: 1000;
    height: 100px;
    width: 800px;
    background-color: #32c6f3;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 230%;
    font-family: 'Cuprum', sans-serif;    
}


.flip-card {
    float: center;
    position: absolute;
    left: 1500px;
    top: 350px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;

  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(132, 132, 132);
    color: white;
    transform: rotateY(180deg);
    font-size: 200%;
    font-family: 'Special Elite', cursive;

  }