
.container {
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  margin: 20px;

}

.child1 {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.child2 {
  width: 600px;
  height: 400px;
  background-color:  rgb(211, 211, 211);
  padding: 25px;
  float: inline-start;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

  .alignleft {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
  }

  .alignright {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
  }

  .section {
    font-size: 30px;
    margin-bottom: 15px;
  }
