
.container1 {
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    }


.p {
width: 1000px;
margin: 10px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.question1 {
    float: center;
    position: absolute;
    left: 1450px;
    top: 200px;
    z-index: 1000;
    height: 100px;
    width: 800px;
    background-color: #32c6f3;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 230%;
    font-family: 'Cuprum', sans-serif;    
}


.flip-card1 {
    float: center;
    position: absolute;
    left: 1500px;
    top: 350px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;

  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front1 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back1 {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);
    font-size: 200%;
    font-family: 'Special Elite', cursive;

  }

  .Lag_5 {
    background-image: url("Lag 5.png");
    position: absolute;
    left: 529px;
    top: 32px;
    width: 600px;
    height: 553px;
    z-index: 11;
  }

  .flip-card2 {
    float: center;
    position: absolute;
    left: 563px;
    top: 51px;
    background-color: transparent;
    width: 500px;
    height: 461px;
    border: 1px solid #f1f1f1;
  }

  .flip-card2:hover .flip-card-inner1 {
    transform: rotateY(180deg);
  }

  .poem2 {
    position: absolute;
    left: 2800px;
    top: 20px;
    font-family: 'Special Elite', cursive;
    word-spacing: 10%;
    line-height: 1cm;

  }

  